form {
    display: flex;
    flex-direction: column;
}

#lenom, #leprenom, #lalangue, #lemessage {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

#legenre, #lergpd {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

#legenre>label {
    margin-right: 2em;
}

textarea {
    resize: none;
}